* {
  margin: 0;
  padding: 0;
  /* border: 2px #392f5a solid; */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  background: #fff8f0;
}

.card {
  background: #ffffff;
  width: 450px;
  padding: 30px;
  border-radius: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

img {
  margin: 10px;
}

h2 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #c1121f;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #c1121f;
    object-fit: cover;
  }
}

.card-body {
  text-align: center;

  .info-value {
    font-size: 20px;
    color: #333;
  }

  p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }
}
